/*** Police Jura ***/
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: local('Jura Regular'), local('Jura-Regular'), url(../fonts/jura.woff) format('woff');
}


/*** Page header ***/
header {
	box-shadow: 0 0 5px 0 #777;
	margin-top:0 !important;
	padding: 10px 30px;
}

.brand, .brand > small {
	display:block;
}

.brand > small > .amperstand { /* "&" in "Excellence & fashion" */
	color:#666;
}

#message-debut {
	max-width:700px;
}

@media (max-width: 700px) {
	main {
		width: 100% !important;
	}
	#prix-devis-boite {
		width:100%;
	}
}

#prix-devis-boite > .panel-body {
	color: green;
	font-size:2em;
}

#prix-devis-boite > .panel-footer {
	font-size: .8em;
}

/** main **/
main {
	width:50%;
}

/*** Form ***/
#commande label {
	margin-right: 25px;
}

.infogroup {
	margin-bottom: 20px;
}

label.fullwidth {
	width: 100%;
}

label > input {
	font-weight: normal;
}

/*** Personnalisation vêtements ***/
#vetements > .row > div {
	height:360px;
	overflow:hidden;
}
.modal-extralarge {
	width:90%;
}
.zone-personnalisation > img {
	width:100%;
}

.personnalisation > fieldset {
	margin-bottom:20px;
}

.dropdown-colors {
	top:auto !important;
	padding:10px;
	width:100%;
    max-height:250px;
    overflow:auto;
}

.color-preview, .dropdown-colors > div {
	width:40px;height:25px;
	display:inline-block;
	margin:1px;
	border-radius:2px;
	border:1px solid black;
}

input.image-personnalisation {
  display: inline;
}

.zone-personnalisation {
	padding: 0;
	position: relative;
}

.zone-personnalisation .ui-wrapper {
  /*Les objets qui sont "resizable" sont placés par jQuery UI dans une div .ui-wrapper*/
	position: absolute !important;
	top:0; left:0;
}

/** Choix date de livraison **/
.ui-datepicker {
  z-index: 3 !important;
}

/*** footer ***/
footer {
	padding:60px 0 20px;
	text-align:center;
}
