{{#articles}}

{{#liste_articles}}
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="modal-{{id}}">
  <div class="modal-dialog modal-lg modal-extralarge">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="modal-title-{{id}}">
					{{nom_complet}} <small>(prix à l’unite: <strong id="prix-unite-{{id}}" class="prix-unite"></strong>{{devise}}).
					<span class="prix-varie hidden" id="prix-varie-{{id}}">Le prix dépendra de votre projet</span></small>
				</h3>
			</div>

			<div class="modal-body">
				<div class="row">
					<div id="zone-personnalisation-{{id}}" class="col-sm-12 col-md-10 col-lg-8 zone-personnalisation">
						<img src="images/modeles/{{id}}.svg" alt="{{nom_complet}}" />
					</div>
					<div class="col-sm-12 col-md-2 col-lg-4" class="personnalisation">
						<fieldset class="couleurs">
							<h3>Choix des couleurs</h3>
							{{#choix_couleurs}}
							<div class="choose-color">
								<label for="couleur-{{type_couleur}}-{{id}}">{{nom_complet}}</label>
								<input id="couleur-{{type_couleur}}-{{id}}"
										name="{{id}}[couleurs][{{type_couleur}}]"
										type="text"
										class="form-control"
										placeholder="Numéro de la couleur dans le nuancier"
										data-toggle="dropdown" />
							    <div id="dropdown-colors-{{type_couleur}}-{{id}}"
							    	class="dropdown-menu dropdown-colors"
							    	data-target="#couleur-{{type_couleur}}-{{id}}" >
									{{! This will be filled via javascript on the client side}}
								</div>
							</div>
							{{/choix_couleurs}}
						</fieldset>
						<fieldset class="images-personnalisation">
							<h3>Images personnalisées</h3>
							<p><small>Choisissez les logos et les images qui apparaîtront sur votre vêtement. Vous pourrez ensuite les <strong>positionner</strong> et les <strong>redimentionner</strong> à la souris.</small></p>
							<ol>
							<li data-zone-personnalisation = "#zone-personnalisation-{{id}}">
							<input type="file" class="image-personnalisation"
									name="{{id}}[files][][file]"
									accept="image/*" />
							<input type="hidden" name="{{id}}[files][][x]" class="x" value="-1"/>
							<input type="hidden" name="{{id}}[files][][y]" class="y" value="-1"/>
			      	<input type="hidden" name="{{id}}[files][][w]" class="w" value="-1"/>
							<input type="hidden" name="{{id}}[files][][h]" class="h" value="-1"/>
							</li>
							</ol>
						</fieldset>
						<fieldset class="options-personnalisation">
							<h3>Options de personnalisation</h3>
							{{#personnalisations}}
							<label title="{{#prix}}&ge; {{nbr}} articles: {{#approx}}environ {{/approx}}{{prix}}{{devise}}&#10;{{/prix}}"
								><input type="checkbox"
											class="checkbox-perso"
											name="{{id}}[perso][{{perso}}]"
											id="{{#html_id}}perso-{{id}}-{{perso}}{{/html_id}}" />&nbsp;{{perso}}</label>
							{{/personnalisations}}
						</fieldset>

					</div><!--col-->
				</div> <!--row-->
			</div> <!--modal-body-->

		</div> <!-- modal-content-->
  </div>
</div>
{{/liste_articles}}

{{/articles}}
