<!DOCTYPE html>
<html lang="fr">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Devis — School Phenomenon</title>

	{{> include_links.html}}
	</head>
	<body>
	{{> header.html}}

	<main class="container">
		<h1>Devis</h1>
		<p class="well bg-info" id="message-debut">Vous allez maintenant pouvoir personnaliser votre commande. Si vous ne pavenez pas à décrire votre projet via ce formulaire n’hésitez pas à nous envoyer un message via notre <a href="http://www.school-phenomenon.com/#!contact/con8">page contact</a>.</p>

		{{> errors.html}}

		<form role="form" id="commande" method="post" enctype="multipart/form-data" action="validation_devis.php" >
		<input type="hidden" id="id_commande" name="id_commande" value="{{id_commande}}" />
		<h2>À propos de vous</h2>
		{{> fieldset_infos_demandeur.html}}

		<h2>Personnalisation de la commande</h2>
		{{> fieldset_vetements.html}}
		{{> articles_modals.html}}

		<div class="infogroup">
		<p id="msg-delai-livraison">Votre commande peut vous être livrée au plus tôt dans <strong id="delai-livraison">40</strong> jours.</p>
		<label>Date de livraison souhaitée:
		<input type="text" id="date-livraison" name="date-livraison" class="form-control"
					 required placeholder="jj/mm/aaaa" pattern="(0?[1-9]|[12][0-9]|3[01])/(0?[1-9]|1[012])/20\d\d" />
		</label>
		</div>

		<div class="infogroup well">
		<label for"infos-supplementaires">Informations supplémentaires: </label>
		<textarea id="infos-supplementaires" name="infos-supplementaires"
					 class="form-control" rows="5"
					 placeholder="Y a-t-il quelque chose dont vous voudriez que la personne qui va traiter votre commande soit au courant?"
		></textarea>
		</div>


	<div class="panel panel-success" id="prix-devis-boite">
	  <div class="panel-heading">Prix total estimé</div>
	  <div class="panel-body">
		<strong id="prix-total">0</strong> {{ articles.devise }}
	  </div>
	  <div class="panel-footer"
	  	title="Lorsque vous commandez un petit nombre d’articles, ou que vous demandez certaines options, nous ne pouvons calculer le prix automatiquement.&#10; Nous vous communiquons alors le prix définitif après examen de votre commande.">
	  	<strong style="display:none" id="prix-total-varie" >Vous avez demandé des options qui peuvent faire varier le prix.</strong>
	  	Le prix définitif vous sera communiqué après examen de votre commande.
	  </div>
	</div>

		<input type="submit" value="Valider la commande" class="btn btn-primary btn-lg" />
		</form>

	</main>
	<footer>
		<p>Si vous rencontrez un problème avec ce site ou que vous avez des suggestions, n’hésitez pas à <a href="mailto:contact@schoolphenomenon.com">nous envoyer un email</a>.</p>
		<p>Page de devis de <strong>School Phenomenon</strong>, réalisée par <a href="https://github.com/lovasoa">Ophir LOJKINE</a>.</p>
	</footer>

	{{> include_scripts.html}}
	<!-- Scripts coffeescript compilés -->
	<script src="js/all.js"></script>
	</body>
</html>

