Une nouvelle commande vient d’être passée grâce au système de devis en ligne.
Vous pouvez la consulter à l’adresse suivante: {{adresse_site}}/visualisation_commande.php?id={{id}} .
{{# devis }}
Client: {{ prenom }} {{ nom }} ({{ association }})
Identifiant de la commande: {{ id-commande }}
{{/ devis}}
