{{#errors}}
<div class="panel panel-danger">
	<p class="panel-heading">{{title}}{{^title}}Erreur{{/title}}</p>
	<div class="panel-body"><p>{{message}}</p>
	{{#error_data}}<code>{{error_data}}</code>{{/error_data}}
	</div>
</div>
{{/errors}}
