<header class="page-header">
	<div class="row">
		<div class="col-md-6 col-xs-12">
		<h1 class="brand">School Phenomenon <small class="hidden-xs">Excellence <span class="amperstand">&</span> fashion</small></h1>
		</div>

		<div class="col-md-6 hidden-xs">
			<h4>Prêt à porter personnalisable pour les étudiants</h4>
		</div>
	</div>
</header>
